# Project 3

## MSDS 7331: Data Mining
## Section 0403
## Summer 2018
- Anthony Schams
- Laura Ludwig  
- David Stroud
- Joshua Balson

## Online Retail Data Set https://archive.ics.uci.edu/ml/datasets/Online+Retail#
#### This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

### Data Import

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## Business Understanding 
#### Describe the purpose of the data set you selected
#### How will you measure the effectiveness of a good algorithm? 
#### Why does your chosen validation method make sense for this specific dataset and the stakeholders' needs?
RFM Score Calculations

RECENCY (R): Days since last purchase  
FREQUENCY (F): Total number of purchases  
MONETARY VALUE (M): Total money this customer spent

## Data Understanding 1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

#### Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file
- InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. 
- StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product. 
- Description: Product (item) name. Nominal. 
- Quantity: The quantities of each product (item) per transaction. Numeric.	
- InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated. 
- UnitPrice: Unit price. Numeric, Product price per unit in sterling. 
- CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer. 
- Country: Country name. Nominal, the name of the country where each customer resides.

#### Verify data quality: Are there missing values? Duplicate data? Outliers? Are those mistakes? 
#### How do you deal with these problems?

In [10]:
print('Number of unique countries: ', df.Country.nunique())
# List of Countries, by CustomerID in ascending order
customer_country=df[['Country','CustomerID']].drop_duplicates()
customer_country.groupby(['Country'])['CustomerID'].aggregate('count').reset_index().sort_values('CustomerID', ascending=False)

Number of unique countries:  38

                 Country  CustomerID
36        United Kingdom        3950
14               Germany          95
13                France          87
31                 Spain          31
3                Belgium          25
33           Switzerland          21
27              Portugal          19
19                 Italy          15
12               Finland          12
1                Austria          11
25                Norway          10
24           Netherlands           9
0              Australia           9
6        Channel Islands           9
9                Denmark           9
7                 Cyprus           8
32                Sweden           8
20                 Japan           8
26                Poland           6
34                   USA           4
5                 Canada           4
37           Unspecified           4
18                Israel           4
15                Greece           4
10                  EIRE           3
23                 Malta           2
35  United Arab Emirates           2
2                Bahrain           2
22             Lithuania           1
8         Czech Republic           1
21               Lebanon           1
28                   RSA           1
29          Saudi Arabia           1
30             Singapore           1
17               Iceland           1
4                 Brazil           1
11    European Community           1
16             Hong Kong           0

More than 90% of the customers are from the United Kingdom

In [13]:
# Restrict data set to the United Kingdom only
df = df.loc[df['Country'] == 'United Kingdom']
# Check whether there missing values in each column
df.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

Notice that 133,600 values are missing from CustomerID. Since the analysis is based on customers, we will remove those with missing values.

In [14]:
df = df[pd.notnull(df['CustomerID'])]
df.Quantity.min()

-80995

In [15]:
# Remove the negative values in the Quantity column
df = df[(df['Quantity']>0)]
df.shape

(354345, 8)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354345 entries, 0 to 541893
Data columns (total 8 columns):
InvoiceNo      354345 non-null object
StockCode      354345 non-null object
Description    354345 non-null object
Quantity       354345 non-null int64
InvoiceDate    354345 non-null datetime64[ns]
UnitPrice      354345 non-null float64
CustomerID     354345 non-null float64
Country        354345 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.3+ MB

## Data Understanding 2
#### Visualize any important attributes appropriately
#### Important: Provide an interpretation for any charts or graphs.

## Modeling and Evaluation 1
#### Train and adjust parameters

## Modeling and Evaluation 2
#### Evaluate and Compare

## Modeling and Evaluation 3
#### Visualize Results

## Modeling and Evaluation 4
#### Summarize the Ramifications

## Deployment 
#### Be critical of your performance and tell the reader how you current model might be usable by other parties
#### Did you achieve your goals? If not, can you reign in the utility of your modeling?
#### How useful is your model for interested parties? 
#### How would your deploy your model for interested parties? What other data should be collected? 
#### How often would the model need to be updated, etc.?

## Exceptional Work
#### You have free reign to provide additional analyses or combine analyses